[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/michael/Pictures]
row=5
col=0

[3676BFC476BF82E3]
row=4
col=0

[1DEB104A119DF2E8]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/michael]
row=1
col=0

