<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.517014341269718" label="Accessories">
    <item label="About Xfce"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Albert"><action name="Execute"><command><![CDATA[albert]]></command></action></item>
    <item label="Archive Manager"><action name="Execute"><command><![CDATA[file-roller]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="compton"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="Deepin Boot Maker"><action name="Execute"><command><![CDATA[deepin-boot-maker]]></command></action></item>
    <item label="Deepin Calculator"><action name="Execute"><command><![CDATA[deepin-calculator]]></command></action></item>
    <item label="Deepin Calendar"><action name="Execute"><command><![CDATA[dde-calendar]]></command></action></item>
    <item label="Deepin File Manager"><action name="Execute"><command><![CDATA[/usr/bin/dde-file-manager -n]]></command></action></item>
    <item label="Deepin Terminal"><action name="Execute"><command><![CDATA[deepin-terminal]]></command></action></item>
    <item label="Deepin Text Editor"><action name="Execute"><command><![CDATA[deepin-editor]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="KeePassXC"><action name="Execute"><command><![CDATA[keepassxc]]></command></action></item>
    <item label="picom"><action name="Execute"><command><![CDATA[picom]]></command></action></item>
    <item label="Plank"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="Terminal Emulator"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Text Editor"><action name="Execute"><command><![CDATA[gedit]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Vim"><action name="Execute"><command><![CDATA[xterm -e 'vim']]></command></action></item>
  </menu>
  <menu id="0.826984707356559" label="Development">
    <item label="CMake"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Qt Assistant"><action name="Execute"><command><![CDATA[assistant]]></command></action></item>
    <item label="Qt Designer"><action name="Execute"><command><![CDATA[designer]]></command></action></item>
    <item label="Qt Linguist"><action name="Execute"><command><![CDATA[linguist]]></command></action></item>
    <item label="Qt QDbusViewer"><action name="Execute"><command><![CDATA[qdbusviewer]]></command></action></item>
    <item label="Sublime Text 3 Dev"><action name="Execute"><command><![CDATA[subl3]]></command></action></item>
  </menu>
  <menu id="0.823988197409687" label="Education">
    <item label="LibreOffice Math"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
  </menu>
  <menu id="0.427279996077182" label="Games">
    <item label="Steam (Native)"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
  </menu>
  <menu id="0.742281898053154" label="Graphics">
    <item label="Deepin Album"><action name="Execute"><command><![CDATA[deepin-album]]></command></action></item>
    <item label="Deepin Draw"><action name="Execute"><command><![CDATA[deepin-draw]]></command></action></item>
    <item label="Deepin Image Viewer"><action name="Execute"><command><![CDATA[deepin-image-viewer --new-window]]></command></action></item>
    <item label="Deepin Picker"><action name="Execute"><command><![CDATA[deepin-picker]]></command></action></item>
    <item label="Deepin Screenshot"><action name="Execute"><command><![CDATA[deepin-turbo-invoker --type=dtkwidget deepin-screenshot --icon]]></command></action></item>
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="GNU Image Manipulation Program"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Image Viewer"><action name="Execute"><command><![CDATA[eog]]></command></action></item>
    <item label="LibreOffice Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
  </menu>
  <menu id="0.738662683623247" label="Multimedia">
    <item label="Deepin Movie"><action name="Execute"><command><![CDATA[deepin-movie]]></command></action></item>
    <item label="Deepin Screen Capture"><action name="Execute"><command><![CDATA[deepin-screen-recorder]]></command></action></item>
    <item label="Kdenlive"><action name="Execute"><command><![CDATA[kdenlive]]></command></action></item>
    <item label="mpv Media Player"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="Music"><action name="Execute"><command><![CDATA[deepin-music]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Qt V4L2 video capture utility"><action name="Execute"><command><![CDATA[qvidcap]]></command></action></item>
    <item label="Rhythmbox"><action name="Execute"><command><![CDATA[rhythmbox]]></command></action></item>
    <item label="VLC media player"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
  </menu>
  <menu id="0.633532637401313" label="Network">
    <item label="Avahi SSH Server Browser"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Chromium"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="Firefox"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="Mail Reader"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Steam (Native)"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0.357703474391279" label="Office">
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[deepin-reader]]></command></action></item>
    <item label="Document Viewer"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="LibreOffice Base"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
  </menu>
  <menu id="0.553170815334315" label="Settings">
    <item label="Customize Look and Feel"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Deepin Control Center"><action name="Execute"><command><![CDATA[dde-control-center --show]]></command></action></item>
    <item label="Default Sound Card"><action name="Execute"><command><![CDATA[/usr/bin/asoundconf-gtk]]></command></action></item>
    <item label="File Manager Settings"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="IBus Preferences"><action name="Execute"><command><![CDATA[ibus-setup]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Openbox Settings"><action name="Execute"><command><![CDATA[obconf-qt]]></command></action></item>
    <item label="Panel"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Qt5 Settings"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Removable Drives and Media"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Screensaver"><action name="Execute"><command><![CDATA[xfce4-screensaver-preferences]]></command></action></item>
    <item label="Screensaver"><action name="Execute"><command><![CDATA[xscreensaver-demo]]></command></action></item>
    <item label="Xfce Terminal"><action name="Execute"><command><![CDATA[xfce4-terminal --preferences]]></command></action></item>
  </menu>
  <menu id="0.343311419536576" label="System">
    <item label="Avahi Zeroconf Browser"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Computer"><action name="Execute"><command><![CDATA[gio open computer:///]]></command></action></item>
    <item label="dconf Editor"><action name="Execute"><command><![CDATA[dconf-editor]]></command></action></item>
    <item label="Deepin Boot Maker"><action name="Execute"><command><![CDATA[deepin-boot-maker]]></command></action></item>
    <item label="Deepin Control Center"><action name="Execute"><command><![CDATA[dde-control-center --show]]></command></action></item>
    <item label="Deepin System Monitor"><action name="Execute"><command><![CDATA[deepin-system-monitor]]></command></action></item>
    <item label="Deepin Terminal"><action name="Execute"><command><![CDATA[deepin-terminal]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Hardware Locality lstopo"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="LSHW"><action name="Execute"><command><![CDATA[/usr/sbin/gtk-lshw]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Trash"><action name="Execute"><command><![CDATA[gio open trash:///]]></command></action></item>
    <item label="UXTerm"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="Vala Panel"><action name="Execute"><command><![CDATA[vala-panel]]></command></action></item>
    <item label="Xfce Terminal"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
    <item label="XTerm"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.223642219572678" label="Advanced Settings">
    <item label="Conky RC"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.309696554895233" label="Obmenu-Generator">
    <item label="Menu Schema"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.109206591297141" label="Openbox">
    <item label="Openbox Autostart"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock"><action name="Execute"><command><![CDATA[xfce4-screensaver-command --lock]]></command></action></item>
    <item label="Exit"><action name="Execute"><command>oblogout</command></action></item>
  </menu>
</openbox_menu>
